---
title: verification
date: 2026-09-11
type: card
tags:
  - 单词
review:
  created: 2026-09-11
  lastReview: 2026-09-11
  reps: 0
  interval: 0
  ease: 2.5
---

# 问题

**verification**

[ˌverɪfɪˈkeɪʃn] 外瑞非凯

verify 核实 cation 名词
把消息仔细核实一遍的过程，“核实，验证”

# 答案

n
核实，验证
